body {
    background-image: url('24022249_6837004.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#Login{
    display:grid;
    flex-direction: column;
    width: 290px;
    height: 360px;
    margin: auto;
    border: 1px solid dodgerblue;
    padding: 4%;
    background-color: rgba(0, 0, 44, 0.466);
    border-radius: 40px;
    margin-top: 200px;
    margin-bottom: auto;

}
#Logo{
    display:grid;
    flex-direction: column;
    width: 150px;
    height: 150px;
    margin: auto;
    padding:0%;
    margin-bottom: 10px;
    margin-top: 1px;
}
#button{
    background-color: rgba(255, 255, 255, 0.212);
    color: aqua;
    padding: 8px;
    border: 1;
    cursor: pointer;
    margin-top: 7px;
    border-radius: 15px;
}
#username{
    background-color: rgba(255, 255, 255, 0.822);
    color: black;
    padding: 9px;
    border: 1;
    cursor: pointer;
    margin-top: 7px;
    border-radius: 10px;
}
#Password{
    background-color: rgba(255, 255, 255, 0.822);
    color: black;
    padding: 9px;
    border: 1;
    cursor: pointer;
    margin-top: 0px;
    border-radius: 10px;
}
#Login1{
    color: aqua;
    margin: auto;
    margin-bottom: 10px;
}
#register1{
    color: aqua;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 11px;
    cursor: pointer;
}
